/* FONT */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900');
@import url('../fonts/athena/style.css');
@import url('../fonts/fivecent/style.css');
@import url('../fonts/philosopher/style.css');
@import url('../fonts/bubblebody/style.css');


/* GENERAL */
*,
*:after,
*::before {
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}
body{
	background: #fff;
	font-family: "roboto", sans-serif;
	padding-top:128px;
	overflow-x: hidden;
}
.athena{
	font-family: "athena", sans-serif;
}
.fivecent{
	font-family: "fivecent", serif;
}
.bubblebody{
	font-family: "bubblebody", serif;
}
.thumbnail{
	background: none;
	margin:0;
	padding: 0;
	border:none;
}
.thumbnail img{
	width: 100%;
}
/* LOADING */
.kotak-loading{
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: #fff;
	z-index: 9999;
	visibility: hidden;
	opacity: 0;
	transition: .3s ease;
}
body.loading .kotak-loading{
	visibility: visible;
	opacity: 1;
}
.kotak-loading .box{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	text-align: center;
}
.kotak-loading .box img{
	height: 80px;
	width: auto;
}
.kotak-loading .box .loader{
	width: 150px;
	height: 4px;
	background: #eee;
	margin:30px auto 0;
	position: relative;
	overflow:hidden;
	border-radius: 50px;
}
.kotak-loading .box .loader:before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	width:50px;
	background: #ACD17B;
	border-radius: 50px;
	animation:kotakLoading 1s linear infinite;
}
@keyframes kotakLoading{
	from{
		transform: translateX(-50px);
	}
	to{
		transform: translateX(200px);
	}
}

/* NAVBAR */
.navbar{
	background: #fff;
	text-align: center;
	border-top:5px solid #E2883A;
	padding:10px 0;
	margin:0;
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index: 999;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	border-radius: 0;
}
.navbar .col{
	float: left;
}
.navbar .col.col.title{
	width: 100px;	
}
.navbar .col.title img{
	width: 100%;
}
.navbar .col.menu{
	width: calc(50% - 50px);
	list-style: none;
	font-family: "fivecent", serif;
}
.navbar .col.menu li{
	float: left;
	width: 50%;
}
.navbar .col.menu li a{
	color:#111;
	font-size: 25px;
	height: 80px;
	line-height: 80px;
	text-decoration: none;
}
.navbar .col.menu li a:hover{
	color:#E2883A;
}
.navbar .col.menu li.active{
	position: relative;
}
.navbar .col.menu li.active:before{
	content: "";
	position: absolute;
	bottom:0;
	left:15%;
	width:70%;
	bottom:10px;
	height:5px;
	border:solid #E2883A;
	border-width: 2px 0 1px; 
}
.navbar .col.menu li.active a{
	color:#E2883A;
}

/* INTRO */
#intro{
	background:#fff;
	position: relative;
}
#intro .bg{
	width: 100%;
	height: auto;
}
/* SLIDER */
#slider{
	position: inherit;
	overflow: hidden;
	top:130px;
	left:0;
	right:0;
	bottom:0;
}
.slide{
	position: relative;
}

.slide img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#slider .slick-dots{
	list-style-type: none;
	position: absolute;
	bottom:100px;
	left:50%;
	transform: translateX(-50%);
	z-index: 99;
}
#slider .slick-dots li{
	float: none;
	display: inline-block;
	margin:5px;
}
#slider .slick-dots li button{
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: rgba(255,255,255,0.5);
	text-indent: -9999px;
	border:none;
}
#slider .slick-dots li.slick-active button{
	background: #fff;
}
section{
	background: #fff;
	position: relative;
}
/* NEWS */
#news{
	padding:50px 0;
	position: relative;
	background: #fff;
}
.news-bg img{
	width: 100%;
	transform: translateY(-100%);
	position: absolute;
	top:10px;
}
#news h2{
	text-align: center;
	font-family: "athena", serif;
	font-size: 80px;
	font-weight: bold;
	margin:0 0 15px;
}
.news-navtabs.nav-tabs{
	text-align: center;
	font-family: "fivecent",sans-serif;
	border:none;
	margin:0 0 30px;
}
.news-navtabs.nav-tabs li{
	display: inline-block;
	float: none;
	position: relative;
}
.news-navtabs.nav-tabs li:before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: url(../images/background/bg-tab.png) no-repeat center;
	background-size: contain;
	filter: grayscale(1);
}
.news-navtabs.nav-tabs li.active:before{
	filter: grayscale(0);
}
.news-navtabs.nav-tabs li {
	margin:0;
}
.news-navtabs.nav-tabs li a{
	padding:15px 30px;
	border:none!important;
	font-size: 25px;
	color:#333;
	background:none!important;
}
.news-navtabs.nav-tabs li a:hover{
	background: none;
}
.news-navtabs.nav-tabs li.active a{
	color:#fff;
}
#news .thumbnail.featured{
	position: relative;
	text-align: left;
	display: block;
	padding:30px 30px 0 0;
	margin:0 0 15px;
}
#news .thumbnail.featured:before{
	content: "";
	border:4px solid #EFF0E3;
	top:0;
	right:0;
	bottom:30px;
	left:30px;
	position: absolute;
}
#news .thumbnail.featured img{
	width: 100%;
	margin:0;
	position: relative;
}
.date{
	font-family: 'Merriweather', serif;
	color:#888;
	font-style: italic;
	font-weight: 300;
	margin:0 0 15px;
}
.post-title{
	font-family: 'Merriweather', serif;
	color:#222;
	margin:0 0 15px;
}
.post-title a{
	text-decoration: none;
	color:inherit;
}
.post{
	color:#888;
}
.more{
	margin:15px 0 0;
	display: inline-block;
	color:#333;
}
.news-item{
	margin:0 0 30px;
}

/* STEP */
#step{
	background: #FEE5C1;
	color:#333;
	position: relative;
	margin:50px 0;
	z-index: 10;
}
#step .container{
	position: relative;
}
.step-bg img{
	width: 100%;
	transform: translateY(-100%);
	position: absolute;
	top:50px;
}
.step-bg-bottom img{
	width: 100%;
	transform: translateY(100%);
	position: absolute;
	bottom:50px;
}
#step h2{
	text-align: center;
	font-family: "athena", serif;
	font-size: 80px;
	font-weight: bold;
	margin:0 0 15px;
}
ul.step{
	text-align: center;
	list-style-type: none;
	position: relative;
	z-index: 99;
}
ul.step li{
	float: left;
	width: 25%;
	text-align: center;
	position: relative;
	transform: translateY(50px);
	transition: .3s ease;
	position: relative;
}
ul.step li:nth-child(1),
ul.step li:nth-child(4){
	transform: translateY(200px);
}
ul.step li .arrow{
	width: 150px;
	position: absolute;
	top:-100px;
	right:-60px;
}
ul.step li:nth-child(2) .arrow{
	top:100px;
	transform: rotateX(180deg) rotate(30deg);
	right:-80px;
}
ul.step li:nth-child(3) .arrow{
	top:60px;
	transform: rotate(60deg);
	right:-100px;
}
ul.step li .icon{
	width: 150px;
	height: 150px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin:0 auto;
	position: relative;
}
ul.step li .icon:before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right: 0;
	background: url(../images/background/step-circle.png) no-repeat center;
	background-size: contain;
}
ul.step li:hover .icon:before{
	animation: rotateIcon 3s linear infinite;
}
@keyframes rotateIcon{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
ul.step li .icon img{
	position: relative;
	height: 80px;
	width: auto;
}
#step .bakpia{
	width: 400px;
	text-align: center;
	margin:-100px auto -100px;
	position: relative;
}

#karakter{
	text-align: center;
	padding:75px 0 100px;
	position: relative;
	margin-bottom: 0px;
	overflow: visible;
}
.karakter-bg{
	position: absolute;
	top:0;
	right:0;
	transform: rotateY(180deg);
}
.karakter-bg-bottom{
	position: absolute;
	bottom:-80px;
	left:0;
}
#karakter h2{
	text-align: center;
	font-family: "athena", serif;
	font-size: 80px;
	font-weight: bold;
	margin:0 0 50px;
}
.row-karakter .thumbnail{
	position: relative;
	margin:0;
}
.row-karakter .thumbnail:before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: url(../images/background/karakter-bg.png) no-repeat center;
	background-size: contain;
	opacity: 0.4;
}
.row-karakter .thumbnail img{
	position: relative;
	width: 250px;
	transition: .3s ease;
}
.row-karakter .thumbnail:hover img{
	transform: scale(1.1);
}
.row-karakter h4{
	margin:0;
	font-family: "fivecent",sans-serif;
	font-size:24px;
}
.row-karakter .thumbnail .smoke{
	opacity: 0;
	visibility: hidden;
	transition: .3s ease;
}
.row-karakter .thumbnail:hover .smoke{
	opacity: 1;
	visibility: visible;
}
.row-karakter .thumbnail .caption{
	position: absolute;
	top:0;
	left:0;
	transition: .3s ease;
	opacity: 0;
	visibility: hidden;
}
.row-karakter .thumbnail:hover .caption{
	opacity: 1;
	visibility: visible;
}
.row-karakter .thumbnail .caption.top.right{
	left:50%;
	transform: translateX(-50%);
	margin-left: 50px;
	margin-top:30px;
}
.row-karakter .thumbnail .caption.bottom.left{
	left:50%;
	transform: translateX(-50%);
	margin-left: -50px;
	top:auto;
	bottom:40px;	
}
.row-karakter .thumbnail .caption .arrow{
	width: 80px;
	position: relative;
}
.row-karakter .thumbnail .caption .text{
	position: absolute;
	top:-20px;
	left:calc(50% - 15px);
	min-width: 150px;
	background: rgba(0,0,0,0.5);
	color:#fff;
	border-radius: 50px;
	padding:10px 15px;
}
.row-karakter .thumbnail .caption.bottom.left .text{
	top:auto;
	bottom:-20px;
	left:auto;
	right:calc(50% - 15px);
}
.row-karakter .thumbnail .caption.top.right .arrow{
	transform: rotateX(180deg) rotate(60deg);
}
.row-karakter .thumbnail .caption.bottom.left .arrow{
	transform:rotate(180deg);
}
.row-karakter .slick-arrow{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	background: rgba(0,0,0,0.5);
	color:#fff;
	font-size:16px;
	border-radius: 50%;
	outline: none;
	border:none;
}
.row-karakter .slick-arrow.slick-prev{
	left:0;
}
.row-karakter .slick-arrow.slick-next{
	right:0;
}
.smoke{
	position:absolute;
	top:50px;
	left:80px;
	transform:translateX(-50%);
}
.smoke span{
	display:block;
	width:100px;
	height:100px;
	background:radial-gradient(#fff,rgba(255,255,255,0));
	border-radius:50%;
	filter:blur(20px);
	position:absolute;
	top:0;
	left:0;
	animation: smokeL 3s 0s linear infinite;
}
.smoke span:nth-child(2){
	animation: smokeL 3s 1s linear infinite;
	left:10px;
	top:30px;
}
.smoke span:nth-child(3){
	animation: smokeL 3s 2s linear infinite;
	left:30px;
	top:50px;
}
.smoke span:nth-child(4){
	animation: smokeL 3s 3s linear infinite;
	left:40px;
	top:20px;
}
@keyframes smokeL{
  	0%{
    	transform:scale(0) translateY(0);
    	opacity:0;
  	}
  	50%{
    	opacity:1;
  	}
  	100%{
	    transform:scale(1) translateY(-100px);
	    opacity:0; 
	    width:200px;
  	}
}

#instagram{
	position: relative;
}
#instagram h2{
	text-align: center;
	font-family: "philosopher", serif;
	font-size: 30px;
	font-weight: bold;
	margin:0 0 50px;
}
#instagram h2 span{
	color:#E2883A;
}
.instagram-list{
	display: flex;
	flex-wrap: nowrap;
}
#footer-wrapper{
	/*background: #f5b053;
	padding:50px 0; */
	background: url('../images/footer.jpg') top center no-repeat;
	background-size: cover;
	margin: 0;
	padding: 95px 0;
	position: relative;
	font-size: 12px;
	color:#333;
}
.footer-wrapper-bg img{
	display: none;
}
#footer-wrapper .nav.navbar-nav{
	float: none;
	margin:0 -15px;
}
#footer-wrapper .nav.navbar-nav li{
	padding:0 10px;
}
#footer-wrapper .nav.navbar-nav li a{
	padding:0 10px;
	line-height: 20px;
	color:#333;	
}
#footer-wrapper h3{
	line-height: 20px;
	font-size:12px;
	margin:0;
}
#footer-wrapper hr{
	border:none;
	border-bottom: 1px solid #333;
	margin:10px 0;
}
#footer-wrapper .nav.nav-social{
	margin-left:-20px;
}
#footer-wrapper .nav.nav-social a{
	font-size:20px;
}
footer{
	background: #111;
	color:#fff;
	text-align: center;
	padding:15px 0;
}
.page{
	padding:30px 0;
}
.post{
	padding:30px 0;
}
.post p{
	color:#888;
}
.meta{
	color:#888;
}
.meta span{
	display: inline-block;
	margin-right: 15px;
}
.share span{
	margin-right: 15px;
}
.share a{
	text-decoration: none;
	color:#888;
}
.share a:hover{
	color:#333;
}
.share i.fa{
	font-size:14px;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #eee;
	color:#333;
	border-radius: 50%;
	margin:0 5px;
}
.share a:hover .fa{
	background: #333;
	color:#fff;
}
.form-control{
	border:1px solid #ddd;
	box-shadow: none!important;
	border-radius: 0;
	padding:20px;
}
.btn-outline-success{
	border:1px solid #BB9465;
	color:#BB9465;
	border-radius: 50px;
	padding:10px 30px;
	background: none;
	font-family: 'Merriweather', serif;
}
.btn-outline-success:hover{
	background: #BB9465;
	color:#fff;
}
.btn-outline-grey{
	border:1px solid #ddd;
	color:#aaa;
}
.btn-wide{
	padding-left: 30px;
	padding-right: 30px;
}
.pagination{
	margin:50px 0;
	float: none;
	text-align: center;
	display: block;
}
.pagination li{
	display: inline-block;
	float: none;
}
.pagination li a{
	border-radius: 0!important;
	color:#888;
	font-family: 'Merriweather', serif;
}
.pagination li.active a{
	background: #F9AE64;
	border-color:#F9AE64;
}
.pagination li.prev{
	margin-right: 30px;
}
.pagination li.next{
	margin-left: 30px;
}
.row-product{
	position: relative;
	margin-top: -20px;
}
.row-product .thumbnail{
	position: relative;
	width: 300px;
	margin:30px auto;
}
.row-product{
	display: flex;
	flex-direction: row;
	flex:1;
}
.row-product .thumbnail img{
	position: relative;
}
.row-product .thumbnail:before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: url(../images/background/karakter-bg.png) no-repeat center;
	background-size: contain;
}
.row-product .info{
	background: #F9AE64;
	padding:50px;
	position: relative;
}
.row-product .info:before,
.row-product .info:after{
	content: "";
	position: absolute;
	top:0;
	left:0;
	right:0;
	height: 15px;
	background: url(../images/background/footer-bg.jpg);
	background-size: 100% 15px;
}
.row-product .info:after{
	top:auto;
	bottom:0;
	transform: rotate(180deg);
}
.row-product .info h4{
	font-family: "fivecent", sans-serif;
	text-align: center;
	font-size: 30px;
	margin:0 0 30px;
}
.btn-shop{
	font-family: "fivecent", sans-serif;
	border:1px solid #333;
	padding:5px 30px;
	margin:30px 0 0;
	position: relative;
	display: inline-block;
	color:#333;
	font-size:20px;
	text-decoration: none!important;
}

.info a:link{
	color: #111 !important;
}
.info a:hover {
	color: #111 !important;
}
.info a:visited{
	color: #111 !important;
}
.detail-modal .modal-dialog{
	transform: none!important;
}
.detail-modal .modal-content{
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	border-radius: 0;
	box-shadow: none;
	display: flex;
	flex-direction: row;
	flex:1;
	background:none;
	border:none;
}
.detail-modal .modal-content a.back-btn{
	width:150px;
	background:rgba(0,0,0,0.7);
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .3s ease;
	opacity: 0;
	transform: translateX(500px);
	visibility: hidden;
	transition-delay: .3s;
}
.detail-modal .modal-content a.back-btn:hover{
	background:rgba(0,0,0,0.5);
}
.detail-modal .modal-content a.back-btn span{
	color:#fff;
	font-size:50px;
	letter-spacing: 3px;
	font-family: 'Merriweather', serif;
	position: relative;
	transform: rotate(-90deg);
}
.detail-modal .modal-content .content{
	background:#fff;
	overflow:auto;
	width: 100%;
	padding:50px;
	font-family: 'Merriweather', serif;
	font-size:16px;
	color:#888;
	transition: .3s ease;
	opacity: 0;
	transform: translateX(500px);
	visibility: hidden;
	transition-delay: .2s;
}
.detail-modal.in .modal-content a.back-btn{
	opacity: 1;
	transform: translateX(0);
	visibility: visible;
}
.detail-modal.in .modal-content .content{
	opacity: 1;
	transform: translateX(0);
	visibility: visible;
}
.detail-modal .modal-content .content ul,
.detail-modal .modal-content .content ol{
	margin-left: 30px;
}
.detail-modal h4{
	color:#222;
}
ul.presented{
	list-style: none;
}
ul.presented li{
	position: relative;
}
ul.presented li:before{
	content: "";
	position: absolute;
	top:10px;
	left:-30px;
	width: 20px;
	border-bottom: 1px solid #E68648;
}
.product-bigbox{
	width: 500px;
	margin:0 auto;
	position: relative;
	padding-top: 50px;
}
.product-bigbox .line{
	position: absolute;
	top:0;
	left:0;
	right:0;
	height: 250px;
	overflow:hidden;
}
.product-bigbox .line:before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	right:0;
	height: 500px;
	border:5px solid #E7CEBD;
	display: block;
	border-radius: 100%;
}
.product-bigbox .thumbnail-big{
	width: 300px;
	max-width: 100%;
	margin:0 auto;
}
.product-bigbox .product-line{
	position: absolute;
	top:0;
	left:0;
	right:0;
	display: flex;
	flex-direction: row;
	flex:1;
	list-style: none;
}
.product-bigbox .product-line li{
	width: 10px;
	height: 10px;
	background: #F9AE64;
	display: block;
	border-radius: 50%;
	position: absolute;
	top:0;
	left:0;
}
.product-bigbox .product-line .title{
	display: none;
}
.product-bigbox .product-line .caption{
	display: none;
}
#feature{
	background: linear-gradient(#F8F8F8 90%, #fff);
	padding:100px 0;
}
.feature-circle{
	width: 500px;
	background: url(../images/background/feature-line.png) no-repeat center top;
	background-size: 100% auto;
	margin:0 auto;
	text-align: center;
	padding-top:100px;
	position: relative;
}
.feature-circle .thumbnail-product{
	width: 300px;
	margin:0 auto;
}
.feature-circle .list{
	list-style: none;
}
.feature-circle .list li{
	display: inline-block;
	position: relative;
	position: absolute;
	top:0;
	left:0;
}
.feature-circle .list li a{
	color:#111;
	font-family: "fivecent", sans-serif;
	font-size:22px;
	text-decoration: none;
	white-space: nowrap;
	position: relative;
}
.feature-circle .list li:nth-child(1){
	top:42%;
	left:0;
	transform: translateX(-80%);
	padding-right: 30px;
}
.feature-circle .list li:nth-child(2){
	top:10%;
	left:16%;
	transform: translateX(-78%);
	padding-right: 30px;
}
.feature-circle .list li:nth-child(3){
	top:-10%;
	left:50%;
	transform: translateX(-50%);
	padding-bottom: 30px;
}
.feature-circle .list li:nth-child(4){
	top:10%;
	left:100%;
	transform: translateX(-70%);
	padding-left: 30px;
}
.feature-circle .list li:nth-child(5){
	top:42%;
	left:100%;
	transform: translateX(-20%);
	padding-left: 30px;
}
.feature-circle .list .circle-tip{
	position: absolute;
	background:#E68648;
	color:#fff;
	display: inline-block;
	padding:15px;
	width: 300px;
	bottom:calc(100% + 15px);
	transform: translate(-50%, 30px);
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
	transition: .3s ease;
}
.feature-circle .list .circle-tip:before{
	content: "";
	position: absolute;
	border:10px solid transparent;
	border-top:10px solid #E68648;
	bottom:-20px;
	left:50%;
	transform: translateX(-50%);
}
.feature-circle .list li:hover .circle-tip{
	transform: translate(-50%,0);
	visibility: visible;
	opacity: 1;
}
#about{
	min-height: calc(100vh - 120px);
	background:#F4F6FA;
	background-size: contain;
	display: flex;
	align-items: center;
	position: relative;
}
#about .container{
	position: relative;
	z-index: 10;
}
#about .line{
	position: absolute;
	top:50%;
	left:0;
	right:0;
	width: 100%;
	z-index: 5;
	transform: translateY(-50%);
}
#about:before,
#about:after{
	content: "";
	background:url(../images/background/about-bg.jpg) no-repeat left center;
	background-size: auto 100%;
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	width: 50%;
}
#about:after{
	left:auto;
	right:0;
	background-position: right center;
}
.about-list{
	text-align: center;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex:1;
}
.about-list li{
	display: inline-block;
	position: relative;
}
.about-list .icon{
	width: 150px;
	height: 150px;
	line-height: 150px;
	background: url(../images/background/step-circle.png) no-repeat center;
	background-size: contain;
	margin:0 auto;
}
.about-list .icon img{
	height: 100px;
	width: auto;
}
.about-list .title{
	color:#222;
	font-size:30px;
	font-family: "fivecent"
}
.about-list li:nth-child(2),
.about-list li:nth-child(4){
	top: 100px;
}
#about-background{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index: 5;
	background-size: cover;
	background-position: center;
	transition: .3s ease;
}
ul.composition{
	list-style: none;
	margin:0!important;
}
ul.composition li{
	border-bottom: 1px dashed #ddd;
	padding:10px ;
}
ul.composition li .title{
	color:#222;
}
ul.composition li .value{
	color:#E68648;
}
.timeline{
	position: relative;
	list-style: none;
	margin:0;
	padding:50px 0;
}
.timeline:before{
	content: "";
	position: absolute;
	top:0;
	left:50%;
	bottom:0;
	transform: translateX(-50%);
	width: 10px;
	background: #eee;
}
.timeline li{
	display: block;
	position: relative;
	text-align: center;
}
.timeline li .title{
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	border:5px solid #eee;
	border-radius: 50%;
	margin:0 auto;
	text-align: center;
	background: #fff;
	justify-content: center;
}
.timeline li .card{
	width: 350px;
	max-width: 100%;
	margin:0 auto;
	background: #fff;
	border:1px solid #eee;
	padding:15px;
	transform: translate(-250px,-80px);
	position: relative;
}
.timeline li:nth-child(even) .card{
	transform: translate(250px,-80px);	
}
.timeline li .card:before,
.timeline li .card:after{
	content: "";
	position: absolute;
	top:15px;
	right:-20px;
	border:10px solid transparent;
	border-left:10px solid #fff;
}
.timeline li .card:before{
	border-left:10px solid #eee;
	right:-21px;
}
.timeline li:nth-child(even) .card:before,
.timeline li:nth-child(even) .card:after{
	right:auto;
	left:-20px;
	transform: rotate(180deg);
}
.timeline li:nth-child(even) .card:before{
	left:-21px;
}
.timeline li .card .card-body{
	margin-bottom: 10px;
	text-align: left;
}
.timeline li .card .card-body .thumbnail{
	margin:0 0 15px;
}
.timeline li .card .card-footer{
	border-top:1px solid #eee;
	padding:5px 0;
}
.modal-news .modal-content{
	border:none;
	box-shadow: 0px 10px 30px -20px rgba(0,0,0,0.5);
	border-radius: 3px;
	overflow:hidden;
}
.modal-news button.close{
	position: absolute;
	top:0;
	right:0;
	padding:15px;
}
.modal-news .modal-header{
	border:none;
}
.modal-news .modal-body{
	padding:50px;
}
.modal-news .cover img{
	width: 100%;
}
.post .col-sm-6{
	margin:0 0 30px;
}
#subscribe{
	padding:30px 0;
	background: #F5AF53;
	color:#fff;
	margin:100px 0 30px 0px;
}
#subscribe h3{
	font-weight: bold;
	margin:0 0 5px;
}
#subscribe .input-group{
	margin-top:10px;
}
#subscribe .input-group .form-control{
	border:2px solid #434c73;
	border-radius: 0;
	height: 40px;
	padding:0 15px;
}
#subscribe .input-group .input-group-btn .btn{
	border-radius: 0;
	padding-left: 30px;
	padding-right: 30px;
	height: 40px;
	background: #333;
	border:2px solid transparent!important;
}
@media (max-width: 768px){
	body{
		padding-top: 226px;
	}
	.navbar{
		background:#fff;
	}
	.logo-mobile{
		height: 150px;
		display: block;
		padding:15px 0;
	}
	.content h2.post-title{
		margin-top: 50px;
	}
	.mobile-toggler{
		position: absolute;
		top:15px;
		left:15px;
		background: none;
		border:none;
		font-size:24px;
		outline: none!important;
	}
	.logo-mobile img{
		 height: 110%;
   		 width: auto;
	}
	.navbar .title{
		position: absolute;
		top:0;
		left:50%;
		transform: translateX(-50%);
		height: 100px;
	}
	.navbar .title img{
		height: 100%;
		width: auto;
	}
	.navbar .col.menu{
		width: auto;
	}
	.navbar .col.menu li{
		width: auto;
	}
	.navbar .col.menu li a{
		height: 40px;
		line-height: 40px;
		padding:0 15px;
		font-size:20px;
	}
	#slider{
		height: auto;
		position: relative;
		top: 28px;
	}
	#carouselControls{
		margin-top: 28px;
	}
	#slider .slide{
		position: relative;
		top:auto;
		left:auto;
		bottom:auto;
		right:auto;
	}
	#news{
		margin:0;
	}
	#about:before{
		width: 100vw;
		background-size:cover;
	}
	#about:after{
		display: none;
	}
	.timeline li .card{
		transform: translate(0,0)!important;
		margin:30px auto!important;
	}
	#footer-wrapper{
		background: #f5b053;
		margin:50px 0 0;
		padding:50px 0; 
		position: relative;
		font-size: 12px;
		color:#333;
	}
	.footer-wrapper-bg img{
		display: block;
		width: 100%;
		transform: translateY(-100%);
		position: absolute;
		top:1px;
	}
}
@media (max-width: 767px){
	body{
		padding-top: 50px;
	}
	.logo-mobile{
		height: 70px;
		padding:0;
	}
	.navbar .col{
		float: none;
	}
	.navbar .col.menu li{
		float: none;
		padding-bottom: 15px;
	}
	.navbar .col.menu li:before{
		bottom:0;
	}
	section h2{
		font-size: 60px!important;
	}
	#news .col-md-6:first-child{
		margin:0 0 30px;
	}
	#step{
		padding:50px 0;
	}
	ul.step li{
		float: none;
		transform: none!important;
		width: auto;
		margin:0;
	}
	#step .bakpia{
		transform: none!important;
		margin:0;
		width: auto;
	}
	ul.step li .arrow{
		display: none;
	}
	#karakter{
		padding: 30px 0;
	}
	#instagram h2{
		font-size: 20px!important;
	}
	.instagram-list{
		flex-wrap:wrap;
	}
	.instagram-list a{
		width: 25%;
	}
	#footer-wrapper hr{
		border:none;
		margin: 10px 0;
	}
	#footer-wrapper ul.nav{
		text-align: center;
		margin:0 0 30px;
		float: none;
		display: block;
	}
	#footer-wrapper .col-sm-8{
		margin-bottom: 30px;
	}
	#footer-wrapper h3{
		text-align: center;
	}
	#footer-wrapper .nav.navbar-nav.nav-social{
		text-align: center;
	}
	#footer-wrapper .nav.navbar-nav.nav-social li{
		display: inline-block;
	}
	.row-karakter .thumbnail .caption{
		left:50%!important;
		transform:translateX(-50%);!important;
		margin:0!important;
	}
	.row-karakter .thumbnail .caption.top.right{
		bottom:30px;
		top:auto;
	}
	.row-karakter .thumbnail .caption.bottom.left{
		bottom:0;
	}
	.row-karakter .thumbnail .caption .arrow{
		display: none;
	}
	.row-karakter .thumbnail .caption .text{
		left:auto;
		top:auto;
		right:auto!important;
		bottom:auto;
		position: relative;
		transform: none;
	}
	.row-product{
		display: block;
	}
	.detail-modal .modal-content a.back-btn{
		width: 60px;
	}
	.detail-modal .modal-content a.back-btn span{
		font-size: 20px;
	}
	#feature{
		padding:30px 0;
	}
	.feature-circle{
		width: 100%;
		background: none;
	}
	.feature-circle .list li{
		position: relative!important;
		top:auto!important;
		left:auto!important;
		transform: translate(0,0)!important;
		display: block!important;
		float: none!important;
		width: 100%;
		margin:0!important;
		padding:0!important;
	}
	.feature-circle .list li .circle-tip{
		position: relative!important;
		bottom:auto!important;
		left:auto!important;
		transform: none!important;
		display: none;
	}
	.feature-circle .list li:hover .circle-tip{
		display: block;
		width: auto;
		margin: 10px;
	}
	.feature-circle .list li .circle-tip:before{
		border:10px solid transparent;
		border-bottom:10px solid #E68648;
		bottom:auto;
		top:-20px;
	}
	#about{
		min-height: auto;
		display: block!important;
		padding:30px 0;
	}
	.about-list{
		display: block;
	}
	.about-list li{
		top:auto!important;
	}
}

.cls-1 {
	clip-path: url(#clip-animasi);
}

.cls-2, .cls-9 {
	fill: #fff;
}

.cls-2 {
	opacity: 0;
}

.cls-3, .cls-8 {
	fill: #333;
}

.cls-4, .cls-5, .cls-6 {
	fill: #fdfdfd;
}

.cls-4 {
	font-size: 29px;
}

.cls-4, .cls-5, .cls-6, .cls-8 {
	font-family: fivecent;
}

.cls-5 {
	font-size: 23px;
}

.cls-6 {
	font-size: 26px;
}

.cls-7 {
	fill: url(#pattern);
}

.cls-8 {
	font-size: 20px;
}
.animasi-tooltip{
	cursor: pointer;
	perspective: 100px;
}
.animasi-tooltip .ballon{
	opacity: 0;
	visibility: hidden;
	transition: .3s ease;
	transform: translateY(50px);
} 
.animasi-tooltip:hover .ballon{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
#bakpia-group{
	cursor: pointer;
}
#bakpia-group image{
	transition: .3s ease;
}
#bakpia-group #bakpia-lumer{
	visibility: hidden;
	opacity: 0;
}
#bakpia-group:hover #bakpia{
	visibility: hidden;
	opacity: 0;
}
#bakpia-group:hover #bakpia-lumer{
	visibility: visible;
	opacity: 1;
}
.ballon-bakpia-group{
	opacity: 0;
	visibility: hidden;
	transition: .3s ease;
}
#bakpia-group:hover .ballon-bakpia-group{
	opacity: 1;
	visibility: visible;
}
.bakpia-title{
	color:#000;
	font-family: fivecent;
	font-size:30px;
}
#outlet .outlet-item .item{
	transform: translateY(30px);
	opacity: 0;
	visibility: hidden;
	text-decoration: none;
	transition: .3s ease;
}
#outlet.active .outlet-item .item{
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
#outlet.active .outlet-item:nth-child(1) .item{
	transition-delay: 0ms;
}
#outlet.active .outlet-item:nth-child(2) .item{
	transition-delay: 100ms;
}
#outlet.active .outlet-item:nth-child(3) .item{
	transition-delay: 200ms;
}
#outlet .outlet-item:hover .item{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
	transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
	transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
	transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
	transform: translate3d(4px, 0, 0);
  }
}
.membership .form-control {
 height: auto !important;
}