/*css form*/
        .section .thumbnail img {
            width: 100% !important;
        }


        a {
            color: #ffff;
        }
        a:hover {
            color: #ffff;
            text-decoration: none;
        }
        a:visited {
            color: #ffff;
            text-decoration: none;
        }
        /* selected link */
        a:active {
            color:#ffff;
            text-decoration: none;
        }



        .text-center{
            padding-left: 0%;
            padding-right: 0%;
        }
        @media only screen and (max-width: 760px){

            .text-center{
                padding-left: 2%;
                padding-right: 2%;
            }
        }
        .harga{
            padding-top: 13px;
            padding-bottom: 1px;
            background-image: url(assets/img/oval.png);
            background-position: center;
            background-size: 270px;
            background-repeat: no-repeat;
            z-index: -1;
        }
        .cod{
            padding-bottom: 20px;
        }

        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            /* border-radius: 4px; */
            box-sizing: border-box;
        }
        input[type=input], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            /* border-radius: 4px; */
            box-sizing: border-box;
        }
        textarea {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            /* border-radius: 4px; */
            box-sizing: border-box;
        }
        input[type=submit] {
            width: 100%;
            background-color: #ffaac1;
            color: #275744;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            /* border-radius: 4px; */
            cursor: pointer;
            font-size:20px;
            font-weight: bold; 
        }
        input[type=submit]:hover {
            color: #ffaac1;
            background-color: white;
            /* font-size:10px; */
            font-weight: bold; 
            border: 2px solid #ffaac1;
        }
      
        .effect1{
            -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 4px 10px 0px #777;
        }

        .whatsapp {
            color: white;
            padding: 10px 10px 10px 37px;
            border-radius: 8px;
            position: relative;
            display: inline-block;
            font-size: 15px;
            margin: auto;
            letter-spacing: 1px;
            background-color: green;

        }

        .tombol:hover {
            background-color: white; 
            color: #009933; 
            border: 2px solid #009933;
            border-radius: 8px;
        }

        .whatsapp:hover:after {
            background-image: url(assets/img/cod2.png);
            width: 50%;
            height: 50%;
        }

        .whatsapp:after {
            content: "";
            display: inline-block;
            position: absolute;
            right: 211px;
            top: 10px;
            width: 50%;
            height: 50%;
            background-image: url(assets/img/cod1.png) ;
            background-size: 24px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto 80%;
        }
        /*end css form*/
        .section .thumbnail img {
            width: 100% !important;
        }

        #xmenu {
            background-color: #EDB200;
            color: #fff !important;
            font-size: 20px;
        }
        .modal-dialog {
            position:absolute;
            top:40% !important;
            transform: translate(0, -50%) !important;
            -ms-transform: translate(0, -50%) !important;
            -webkit-transform: translate(0, -50%) !important;
            margin:auto 28%;
            width:70%;
            height:38%;
            right: 0;
            margin-right: 60px;
        }
        .modal-content {
            min-height:100%;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            padding-left: 100px; 

        }
        .modal-body {
            position:absolute;
            top:45px; /** height of header **/
            bottom:45px;  /** height of footer **/
            left:0;
            right:0;
            overflow-y:auto;
        }
        .modal-footer {
            position:absolute;
            bottom:0;
            left:0;
            right:0;

        }
        a {
            color: #ffff;
        }
        a:hover {
            color: #ffff;
            text-decoration: none;
        }
        a:visited {
            color: #ffff;
            text-decoration: none;
        }
        /* selected link */
        a:active {
            color:#ffff;
            text-decoration: none;
        }
        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px; height: 0; overflow: hidden;

        }

        .video-container iframe,
        .video-container object,
        .video-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .kalimat{
            padding-top:20px;
            padding-bottom: 40px;
            padding-left: 0px;
            padding-right: 20px;
            margin-top:-37px;
            font-size:17px;
            text-align: center;
        }
        @media only screen and (max-width: 760px){
            .kalimat{
                padding-top: 40px;
                padding-bottom: 40px;
                padding-left: 0px;
                font-size:15px;
                padding-right: 0px;
                text-align: center;
                margin-top:0;
            }

            .checklist{
                color: #275744;
                padding-left: 30%;
                padding-right: 30%;
                font-size: 21px;
            }
            .text-center{
                padding-left: 0%;
                padding-right: 0%;
            }

            @media only screen and (max-width: 760px){
                .checklist{
                    color: #275744;
                    padding-left: 2%;
                    padding-right: 2%;
                    font-size: 18px;
                }
                .text-center{
                    padding-left: 2%;
                    padding-right: 2%;
                }
            }


        }

        .wa_btn {
            background-color: green;
            margin: auto;
            padding: 5px 5px 5px;
            color: white;
            border-radius: 8px;



        }
        .btn-whatsapp{
            position:fixed;
            bottom:0;
            right:15px;
            width:auto;
            height:40px;
            line-height: 40px;
            text-align:center;
            color:#fff!important;
            border-radius:10px 10px 0 0;
            background:linear-gradient(#2ecc71,#1ABF60);
            overflow: hidden;
            padding:0 55px 0 15px;
            font-size: 12px;
            box-shadow: 0px -10px 50px -10px rgba(0,0,0,0.5);
            text-decoration: none!important;
            z-index: 100;
        }
        .btn-whatsapp .fa{
            width: 40px;
            height: 40px;
            line-height: 40px;
            position: absolute;
            top:0;
            right:0;
            background: rgba(0,0,0,0.1);
            display: block;
            font-size: 20px;
        }
        .whatsapp-box{
            position: fixed;
            bottom:50px;
            right:15px;
            z-index: 99;
            background: #fff;
            width: 350px;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
            transform: translateY(100%);
            opacity: 0;
            visibility: hidden;
            transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        .whatsapp-box.active{
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
        }
        .whatsapp-box .welcome-text svg{
            width: 20px;
            height: auto;
        }
        .whatsapp-box .welcome-text svg{
            height: 18px;
            width: auto;
            fill:#aaa;
            vertical-align: middle;
        }
        .whatsapp-box .welcome-text .time{
            font-size: 12px;
            color:#aaa;
        }
        .whatsapp-box .whatsapp-form svg{
            height: 20px;
            width: auto;
            fill:#aaa;
        }
        .whatsapp-box .heading{
            background:linear-gradient(#2ecc71,#1ABF60);
            padding:30px;
            color:#fff;
            text-align: center;
            position: relative;
        }
        .whatsapp-box .heading .btn-close{
            background: none;
            border:none;
            outline: none;
            box-shadow: none;
            position: absolute;
            top:0;
            left:0;
            color:#fff;
            padding:15px 30px;
            font-size: 20px;
        }
        .whatsapp-box .heading .avatar{
            width: 80px;
            height: 80px;
            background: #fff;
            border-radius: 50%;
            overflow: hidden;
            margin:0 auto 10px;
        }
        .whatsapp-box .heading .avatar img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .whatsapp-box .chatbox{
            padding:15px;
            background: #eee;
        }
        .whatsapp-box .whatsapp-form{
            display: flex;
            flex-direction: row;
            flex:1;
            padding:10px;
        }
        .whatsapp-box .whatsapp-form .form-control{
            width: 100%;
            border:none;
            box-shadow: none;
            background: none;
        }
        .whatsapp-box .whatsapp-form .btn-send{
            width: auto;
            background: none;
            border:none;
            outline: none;
        }
        .whatsapp-box .welcome-text{
            background: #E4FDC7;
            font-size: 14px;
            position: relative;
            padding:15px;
            box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
            border-radius: 5px;
            font-family: "roboto", sans-serif;
            margin-left:15px;
            line-height: 120%;
            transform: translateY(50px);
            opacity: 0;
            visibility: hidden;
            transition: .3s ease;
            transition-delay: .6s;
        }
        .whatsapp-box.active .welcome-text{
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
        .whatsapp-box .welcome-text:before{
            content: "";
            position: absolute;
            top:0;
            left:-16px;
            border:8px solid transparent;
            border-right: 8px solid #E4FDC7;
            border-top: 8px solid #E4FDC7;
        }
        .whatsapp-box .welcome-text .notice{
            float: right;
            margin:5px 0 0;
        }
        @media (max-width: 767px){
            .welcome-tip{
                display: none;
            }
            .btn-whatsapp{
                width: auto;
                left:0;
                right:0;
                border-radius: 0;
            }
            .whatsapp-box{
                top:0;
                left:0;
                bottom:0;
                right:0;
                z-index: 99999;
                width: auto;
                background: #eee;
                border-radius: 0;
                transition: .5s ease;
            }
            .whatsapp-form{
                position: absolute;
                bottom:0;
                left:0;
                right:0;
                box-shadow: 0px -10px 50px -15px rgba(0,0,0,0.1);
                background: #fff;
            }
        }